<div id="panel-pages">
<h4>Application Sections</h4>
<div id="page_ajax_spinner" style="display:none;">
  <div>
    <%= image_tag 'qe/ajax-loader.gif' %> Loading...
  </div>
</div>
<ul id="list-pages" class="navigation-list">
  <%= render :partial => 'answer_sheets/page_link', :collection => @presenter.page_links %>
</ul>
</div>