				<h3>Check or Money Order</h3>

				<p>Please note that your application <strong>will not</strong> be 
					processed until your mailed payment is received. We suggest that 
					you take a moment right now to write your check and put it in the mail.</p>
					
				<ol>
					<li>Make your check or money order for <strong><%= number_to_currency(@application.sleeve.fee_amount) %></strong>
						payable to "Campus Crusade for Christ".</li>					
					<li>Write your <strong>Full Name</strong> as entered on this
						application (<%= @application.applicant.full_name %>) on a separate
						piece of paper and include it in the envelope with
						your check.</li>
				</ol>

				<h4>Mail to:</h4>

				<p>Campus Crusade for Christ<br/>
					Dept 2500 - STINT Coordinator<br/>
					100 Lake Hart Drive<br/>
					Orlando, FL 32832</p>
									
				<p class="buttons">
					<%=submit_to_remote "submit", "Click here if you have mailed your payment", 
										:html => {:class => "button"},
										:url => application_payments_path(@application),
										:loading => "new Effect.Fade('pay_mail');" %></p>
