				<h3>Transfer from a Staff/Project/Scholarship Fund</h3>

				<p>Please enter the First and Last name of the Campus Crusade for 
					Christ staff member who will provide the funds for your application, 
					then press "Search for Staff".  From the list of matching staff, 
					select the correct person.  An email will then be sent to them with 
					your payment request.</p>
						
				<p>Please note that your application <strong>can not be processed</strong> 
					until they initiate the funds transfer.  Once the staff member responds, 
					an email will be sent to you.</p>

				<h4>Search for Staff</h4>
				
				<p><label for="payment_staff_first">First &amp; Last Name</label>
					<%= text_field :payment, :staff_first, {:size => 10, :onkeydown => "submitOnEnter('submit_staff_search',event);" }%>
					<%= text_field :payment, :staff_last, {:size => 10, :onkeydown => "submitOnEnter('submit_staff_search',event);" }%>
					<%=submit_to_remote "submit_staff_search", "Search", :html => {:class => "button", :id => "submit_staff_search"},
										:url 	=> staff_search_application_payment_page_path(@application),
										:loading => "Element.show('spinner_staff2');" %>
					<%= image_tag "/images/fe/ajax-loader.gif", :id => "spinner_staff", :style => 'display:none' %></p>
						
				<div id="staff_results"></div>


