<p>
<% if current_person.isStaff? %>
  Sorry, but the payment you are trying to view is not a Staff Transfer.  
<% else %>
  Sorry, but you need to be on staff to approve a Staff Transfer.  
<% end %>
If you have any questions, email <a href="mailto:gosummerproject@uscm.org">gosummerproject@uscm.org</a>. </p>