<% @title = "Receive Payments" %>

<div id="controls">
  <div id="panel">
     <div class="panel">
     	<p>Thank you.</p>
     </div>
   </div>
</div>


<div id="preview">
<h2>Staff Account Transfer Payment</h2>
<div class="page" style="padding: 18px;">
<% if @payment.approved? -%>
	Thank you for paying the application fee for <%= @person.informal_full_name %>'s applcation.
<% else -%>
	Thank you for taking the time to deny <%= @person.informal_full_name %>'s
	scholarship request.
<% end -%>
	<br /><br />
	You may close this window now.
</div>
</div>