<%- options = [ Fe::OptionGroup.new("Short Answer", [
                    Fe::Option.new("short", "Simple"),
                    Fe::Option.new("number", "Number"),
                    Fe::Option.new("currency-dollar", "Currency"),
                    Fe::Option.new("email", "E-mail address"),
                    Fe::Option.new("url", "Web address"),
                    Fe::Option.new("phone", "Telephone number")
                  ]),
                Fe::OptionGroup.new("Long Answer", [
                    Fe::Option.new("essay", "Essay")
                  ])
              ]
%>
<div class="field">
  <label for="element_style" class="desc">Style</label>
  <%= select_tag "element[style]", 
        option_groups_from_collection_for_select(options, "group", "label", "key", "value", @element.style) %>
</div>

<%= render "fe/admin/panels/common_fields", f: f %>
