<p><%= _("Thank you for completing this reference. Your input is so valuable to us. If you are not familiar with Cru, why not visit our website to learn more?") %> <%= link_to("http://cru.org", "http://cru.org") %></p>
<p><%= _("If you have any questions or concerns, email us at %{email}") % { email: Fe.from_email } %></p>
