<p>Thank you for completing this reference. Your input is so valuable to us. If you are not familiar with Campus Crusade for Christ or our STINT and Internship opportunities, why not visit our website to learn more? <%= link_to('http://cruoncampus.org', 'http://cruoncampus.org') %></p>
<p>If you have any questions or concerns, email us at stintandinternships@uscm.org.</p>
